.learning-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.level-containers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.level-card{
   display: flex;
   flex-direction: column;
   height:300px;
   width:250px;
   background-color: aliceblue;
   border:solid 1px darkblue;
   margin:10px;
   border-radius:10ppx;

}
.headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:70px;
    background-color:darkblue;
    color:white;
    text-align: center;
}
.list-items{
    height:250px;
}